# === APP ===
NODE_ENV=development
PORT=3000
LOG_LEVEL=info

# === URLs ===
BASE_URL=http://localhost:3000
API_URL=http://localhost:3000/api
FRONTEND_URL=http://localhost:4200

# === CORS ===
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3000

# === AUTH / KEYS ===
API_KEY=your_api_key_here
RSA_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"

# === DATABASE ===
# Shared or Service Specific
MONGODB_URI=mongodb://localhost:27017/idoc
MONGO_ROOT_URI=mongodb://localhost:27017

# === SERVICES ===
GATEWAY_PORT=3000

AUTH_PORT=8080

STATISTICS_PORT=8085

USER_PORT=3001
USER_DB_URI=mongodb://localhost:27017/user-service

CATALOG_PORT=3002
CATALOG_DB_URI=mongodb://localhost:27017/catalog-service

FILE_PORT=3003
FILE_DB_URI=mongodb://localhost:27017/file-service

BORROW_PORT=3004
BORROW_DB_URI=mongodb://localhost:27017/borrow-service

# === MINIO / S3 ===
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_BUCKET=idoc-bucket
MINIO_USE_SSL=false
AWS_S3_FORCE_PATH_STYLE=true
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin

# === CLOUDINARY ===
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# === REDIS ===
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
