# =========================================
# app
# =========================================
    # name
APP_NAME=idoc

    # mode
NODE_ENV=development

    # url
API_URL=http://localhost:8000/api

    # web
WEB_URL=http://localhost:3000

    # logLevel
LOG_LEVEL=info

    # allowedOrigins
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001,http://localhost:8000,
http://localhost:8080,
http://localhost:8085,
http://localhost:5000,
http://localhost:5001,
http://localhost:5002,
http://localhost:5003,
http://localhost:5004"

# =========================================
# auth
# =========================================
    # key
API_KEY=your_api_key_here

    # jwtPublicKey
RSA_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1EtsgvY74CCDkL9qbDVf
gQE9BY6FPUvWPhrwl42J16p+aG0Rm61s6r+OLODUQDitdx5R579HtZ915psHHkkn
+qjK6GNj8RfzGHWk7oIj6SRzPqf5LhzVYPoC3KY6AhlJIDijBTDj8/wUxlpEKeaV
QaBRYtbEG2+N7tqgjMot6+h9JA1v2DwwNo5ULHFqx91ukxkgbOQJMNCo4dhX/hWQ
ICg5Asm0MA8RUWE2TRe94jltTZ7Bs0ViDmbBt5HWzFyC0dcZ0tw2Dr+pUo13nCbX
Z9zNLau9zv3oM3vUaCRgwp2Yk/6YMNMUV2tdzKml2U2qVx8UMOMZ43p4GCbNEj85
cwIDAQAB
-----END PUBLIC KEY-----"

# =========================================
# services
# =========================================
    # timeout
SERVICE_TIMEOUT=10000

    # gateway
GATEWAY_PORT=5000
GATEWAY_URL=http://localhost:5000

    # auth
AUTH_PORT=8080
AUTH_URL=http://localhost:8080

    # statistics
STATISTICS_PORT=8085
STATISTICS_URL=http://localhost:8085

    # user
USER_PORT=5001
USER_URL=http://localhost:5001
USER_DB_URI=mongodb://localhost:27017/user

    # catalog
CATALOG_PORT=5002
CATALOG_URL=http://localhost:5002
CATALOG_DB_URI=mongodb://localhost:27017/catalog

    # file
FILE_PORT=5003
FILE_URL=http://localhost:5003
FILE_DB_URI=mongodb://localhost:27017/file

    # borrow
BORROW_PORT=5004
BORROW_URL=http://localhost:5004
BORROW_DB_URI=mongodb://localhost:27017/borrow

    # recommendation
RECOMMENDATION_PORT=5005
RECOMMENDATION_URL=http://localhost:5005
RECOMMENDATION_DB_URI=mongodb://localhost:27017/recommendation

# =========================================
# storage
# =========================================
    # minio
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_BUCKET=idoc
MINIO_USE_SSL=false
AWS_S3_FORCE_PATH_STYLE=true
MINIO_ACCESS_KEY=your_access_key_here
MINIO_SECRET_KEY=your_secret_key_here

    # cloundinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# =========================================
# email (smtp)
# =========================================
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_email_here
SMTP_PASS=your_password_here
SMTP_FROM="iDoc Library" <idoc.workspace@gmail.com>

# =========================================
# redis
# =========================================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_password_here
REDIS_DB=0
