# =========================================
# GLOBAL IDENTITY
# =========================================
APP_NAME=idoc
NODE_ENV=development

# =========================================
# KONG GATEWAY
# =========================================
# Image
GW_IMAGE=kong/kong-gateway:3.12.0.0

# Database Config
KONG_PG_DATABASE=kong
KONG_PG_USER=kong
KONG_PG_PASSWORD=your_password
KONG_PASSWORD=your_password

# Ports & Hosts
KONG_PORT=8000
KONG_ADMIN_PORT=8001
KONG_ADMIN_GUI_PORT=8002
KONG_ADMIN_IP=127.0.0.1
KONG_ADMIN_GUI_HOST=localhost

# System Tuning
KONG_LOG_LEVEL=notice

# =========================================
# MinIO (Object Storage)
# =========================================
# Config
MINIO_ROOT_USER=idocadmin
MINIO_ROOT_PASSWORD=your_password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_REGION_NAME=us-east-1

# Bucket
MINIO_BUCKET_NAME=idoc

# =========================================
# Redis (Cache & Queue)
# =========================================
# Redis Env
REDIS_BIND_IP=127.0.0.1
REDIS_PORT=6379
REDIS_MANAGEMENT_PORT=8005
REDIS_PASSWORD=your_password
REDIS_SAVE_POLICY="60 1"
REDIS_LOG_LEVEL=notice
