# =========================================
# Kong
# =========================================
KONG_PG_DATABASE=kong
KONG_PG_USER=idocadmin
KONG_PG_PASSWORD=idocadmin123
KONG_PASSWORD=idocadmin123
GW_IMAGE=kong/kong-gateway:3.12.0.0
GW_HOST=localhost

# =========================================
# MinIO
# =========================================
MINIO_ROOT_USER=idocadmin
MINIO_ROOT_PASSWORD=idocadmin123
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# =========================================
# Redis
# =========================================
REDIS_PORT=6379
REDIS_MANAGEMENT_PORT=8005
REDIS_PASSWORD=idocadmin123
REDIS_SAVE_POLICY="60 1"
REDIS_LOG_LEVEL=notice

