version: "3.8"

services:
  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
      - "8003:8001"
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  redis_data: