# App
NODE_ENV=development # 'development' | 'production' | 'test'
PORT=5002
LOG_LEVEL=info

# URLs
BASE_URL=http://localhost:5002
API_URL=http://localhost:8000/api
FRONTEND_URL=http://localhost:3000

# Allowed Origins (for CORS and CSP)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:8000,http://localhost:5002

# Auth / Keys
API_KEY=iDocServiceApiKey12345

# Database
MONGODB_URI=mongodb://localhost:27017/catalog